{% if paginator.nbResults > 0 %}

    {% set route = app.request.attributes.get('_route') %}
    {% set route_parameters = app.request.attributes.get('_route_params') %}
    {% set criteria = app.request.query.all %}

    {% set default_path = path(route, route_parameters|merge(criteria)) %}
    {% set from_a_to_z_path = path(route, route_parameters|merge(criteria)|merge({'sorting': {'name': 'asc'}})) %}
    {% set from_z_to_a_path = path(route, route_parameters|merge(criteria)|merge({'sorting': {'name': 'desc'}})) %}
    {% set oldest_first_path = path(route, route_parameters|merge(criteria)|merge({'sorting': {'createdAt': 'asc'}})) %}
    {% set newest_first_path = path(route, route_parameters|merge(criteria)|merge({'sorting': {'createdAt': 'desc'}})) %}
    {% set cheapest_first_path = path(route, route_parameters|merge(criteria)|merge({'sorting': {'price': 'asc'}})) %}
    {% set most_expensive_first_path = path(route, route_parameters|merge(criteria)|merge({'sorting': {'price': 'desc'}})) %}

    {% if app.request.query.get('sorting') is empty %}
        {% set current_sorting_label = 'app.ui.by_position'|trans|lower %}
    {% elseif app.request.query.get('sorting').name is defined and app.request.query.get('sorting').name == 'asc'%}
        {% set current_sorting_label = 'app.ui.from_a_to_z'|trans|lower %}
    {% elseif app.request.query.get('sorting').name is defined and app.request.query.get('sorting').name == 'desc'%}
        {% set current_sorting_label = 'app.ui.from_z_to_a'|trans|lower %}
    {% elseif app.request.query.get('sorting').createdAt is defined and app.request.query.get('sorting').createdAt == 'desc'%}
        {% set current_sorting_label = 'app.ui.newest_first'|trans|lower %}
    {% elseif app.request.query.get('sorting').createdAt is defined and app.request.query.get('sorting').createdAt == 'asc'%}
        {% set current_sorting_label = 'app.ui.oldest_first'|trans|lower %}
    {% elseif app.request.query.get('sorting').price is defined and app.request.query.get('sorting').price == 'asc'%}
        {% set current_sorting_label = 'app.ui.cheapest_first'|trans|lower %}
    {% elseif app.request.query.get('sorting').price is defined and app.request.query.get('sorting').price == 'desc' %}
        {% set current_sorting_label = 'app.ui.most_expensive_first'|trans|lower %}
    {% endif %}

    <div class="ui right floated small header">
        <div class="content">
            {{ 'app.ui.sort'|trans }}
            <div class="ui inline dropdown">
                <div class="text">{{ current_sorting_label }}</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{{ default_path }}" data-text="{{ 'app.ui.by_position'|trans|lower }}">{{ 'app.ui.by_position'|trans }}</a>
                    <a class="item" href="{{ from_a_to_z_path }}" data-text="{{ 'app.ui.from_a_to_z'|trans|lower }}">{{ 'app.ui.from_a_to_z'|trans }}</a>
                    <a class="item" href="{{ from_z_to_a_path }}" data-text="{{ 'app.ui.from_z_to_a'|trans|lower }}">{{ 'app.ui.from_z_to_a'|trans }}</a>
                    <a class="item" href="{{ newest_first_path }}" data-text="{{ 'app.ui.newest_first'|trans|lower }}">{{ 'app.ui.newest_first'|trans }}</a>
                    <a class="item" href="{{ oldest_first_path }}" data-text="{{ 'app.ui.oldest_first'|trans|lower }}">{{ 'app.ui.oldest_first'|trans }}</a>
                    <a class="item" href="{{ cheapest_first_path }}" data-text="{{ 'app.ui.cheapest_first'|trans|lower }}">{{ 'app.ui.cheapest_first'|trans }}</a>
                    <a class="item" href="{{ most_expensive_first_path }}" data-text="{{ 'app.ui.most_expensive_first'|trans|lower }}">{{ 'app.ui.most_expensive_first'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
